#main {
    float: left;
    width:450px;
    height: 300px;
}

.map_unit_container {
    position: relative;
    display: inline-block;
}

.map_unit_cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.map_unit_cover_red{
    background-color: red;
    opacity: .5;
}

.map_unit_cover_blue{
    background-color: blue;
    opacity: .5;
}

#contaner{
    width: 100%;
    height: 600PX;
    position: relative;
}
#imgPanel{
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0PX;
    width: 80%;
    height: 100%
}

#attrPanel{
    display: inline-block;
    position: absolute;
    top: 0PX;
    right: 0PX;
    width: 20%;
    height: 400px;
    /* background-color: red */
}
#logPanel{
    display: inline-block;
    position: absolute;
    top: 400PX;
    right: 0PX;
    width: 20%;
    height: 200px;
}
